<!DOCTYPE html>

<head>
<link rel="stylesheet" href="/style.css">
</head>

<body bgcolor="green">

<div>
<br>
<!-- <img src="/mm.png"> -->

<p style="color:red"><b>Tic Tac Toe Time<br>
<%=message%>
<br></p>

<form action="/game" method="POST"> 

<table> 
 <tr>
  <td class="br"> <input type="submit" name="choice" value="1"><%=board[0]%></td><td class="br"> <input type="submit" name="choice" value="2"><%=board[1]%></td><td class="b"> <input type="submit" name="choice" value="3"><%=board[2]%></td>
 </tr><tr>
  <td class="br"> <input type="submit" name="choice" value="4"><%=board[3]%></td><td class="br"> <input type="submit" name="choice" value="5"><%=board[4]%></td><td class="b"> <input type="submit" name="choice" value="6"><%=board[5]%></td>
 </tr><tr>
  <td class="r"> <input type="submit" name="choice" value="7"><%=board[6]%></td><td class="r"> <input type="submit" name="choice" value="8"><%=board[7]%></td><td> <input type="submit" name="choice" value="9"><%=board[8]%></td>
 </tr>
</table>

<!-- <table> 
 <tr>
  <td class="br"> <input type="submit" name="choice" value="1"></td><td class="br"> <input type="submit" name="choice" value="2"></td><td class="b"> <input type="submit" name="choice" value="3"></td>
 </tr><tr>
  <td class="br"> <input type="submit" name="choice" value="4"></td><td class="br"> <input type="submit" name="choice" value="5"></td><td class="b"> <input type="submit" name="choice" value="6"></td>
 </tr><tr>
  <td class="r"> <input type="submit" name="choice" value="7"></td><td class="r"> <input type="submit" name="choice" value="8"></td><td> <input type="submit" name="choice" value="9"></td>
 </tr>
</table> -->
 </form> 
			<p class="tictactoe">
			<form action="/new" method="POST">
				<input type="submit" name="submit" value="Play Again?">
			</form>
		</section>
		</body>
</html>