<!DOCTYPE html>

<head>
<link rel="stylesheet" href="/style.css">

</head>

<body bgcolor="66FFFF">

<div>
<br>
<!-- <img src="/mm.png"> -->

<p style="color:red"><b>Let's play Tic Tac Toe!
<br><%=message%></b></p>
<table> 
 <tr>
  <td class="br"><%=board[0]%></td><td class="br"><%=board[1]%></td><td class="b"><%=board[2]%></td>
 </tr><tr>
  <td class="br"><%=board[3]%></td><td class="br"><%=board[4]%></td><td class="b"><%=board[5]%></td>
 </tr><tr>
  <td class="r"><%=board[6]%></td><td class="r"><%=board[7]%></td><td><%=board[8]%></td>
 </tr>
</table>
<!-- <table> 
 <tr>
  <td class="br"> <input type="submit" name="choice" value = "1"></td><td class="br"> <input type="submit" name="choice"  value="2"></td><td class="b"> <input type="submit" name="choice"  value="3"></td>
 </tr><tr>
  <td class="br"> <input type="submit" name="choice"  value="4"></td><td class="br"> <input type="submit" name="choice"  value="5"></td><td class="b"> <input type="submit" name="choice"  value="6"></td>
 </tr><tr>
  <td class="r"> <input type="submit" name="choice"  value="7"></td><td class="r"> <input type="submit" name="choice"  value="8"></td><td> <input type="submit" name="choice"  value="9"></td>
 </tr>
</table> -->

<form action="/marker" method="POST">
				<input type="radio" name="level" value="easy">  Easy
				<br>
				<input type="radio" name="level" value="mild">  Mild
				<br>
				<input type="radio" name="level" value="simple">  Simple
				<br>
				<input type="radio" name="level" value="medium">  Medium
				<br>
				<input type="radio" name="level" value="hard">  Hard
				<br>
				<input type="submit" name="submit" value="Submit">
			</form>

