<!DOCTYPE html>

<head>
<link rel="stylesheet" href="/style.css">

</head>


<body bgcolor="green">

<div>
<br>
<img src="/mm.png">

<p style="color:red"><b>Let's play Tic Tac Toe!
<br><%=message%></b></p>





<table> 
 <tr>
  <td class="br"> <input type="submit" name="choice" value = "1"> <%=board[0]%></td><td class="br"> <input type="submit" name="choice"  value="2"><%=board[1]%></td><td class="b"> <input type="submit" name="choice"  value="3"><%=board[2]%></td>
 </tr><tr>
  <td class="br"> <input type="submit" name="choice"  value="4"><%=board[3]%></td><td class="br"> <input type="submit" name="choice"  value="5"><%=board[4]%></td><td class="b"> <input type="submit" name="choice"  value="6"><%=board[5]%></td>
 </tr><tr>
  <td class="r"> <input type="submit" name="choice"  value="7"><%=board[6]%></td><td class="r"> <input type="submit" name="choice"  value="8"><%=board[7]%></td><td> <input type="submit" name="choice"  value="9"><%=board[8]%></td>
 </tr>
</table>

<form action="/marker" method="POST">
				<input type="radio" name="difficulty" value="easy">  Easy
				<br>
				<input type="radio" name="difficulty" value="medium">  Medium
				<br>
				<input type="radio" name="difficulty" value="hard">  Hard
				<br>
				<input type="submit" name="submit" value="Submit">
			</form>